<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Improviso Blog</title>
        <meta charset="utf-8"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    </head>
    <body style="background-color: darkgrey;">

        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Improviso Blog</span>
                    <a href="/newpost" class="btn btn-primary" role="button">Novo Post</a>  <!--Crianção do butão "Novo Post"-->
                </div>
            </nav>
        </header>

        <section>
            <div class="container" style="width: 60%; background-color: grey; padding-bottom: 30px;">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: grey; padding-left: 0px;">
                        <a href="/posts" class="btn btn-light btn-lg btn-block" role="button">Visualizar Posts</a>
                    </ol>
                </nav>
            </div>
        </section>

    </body>
</html>